## .NET
bin/
obj/
*.user
*.suo
*.cache
*.vs/
.vscode/
*.DotSettings.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets

## IDE
.idea/
*.sln.iml

## OS
.DS_Store
Thumbs.db
